<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Spring Core Online Tutorial - List Products</title>
	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
		rel="stylesheet" media="screen" />
		
	<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" 
			th:href="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
			
	<link href="../static/css/spring-core.css"
			th:href="@{css/spring-core.css}"
			rel="stylesheet"
			media="screen"/>
</head>
<body>
	<div class="container">
		<div th:if="${not #lists.isEmpty(products)}">
			<h2>Product List</h2>
			<table class="table table-stripped">
				<tr>
					<th>Id</th>
					<th>Description</th>
					<th>Price</th>
					<th>Image URL</th>
					<th>Edit</th>
					<th>List</th>
					<th>Delete</th>
				</tr>
				<tr th:each="product : ${products}">
					<td th:text="${product.id}"></td>
					<td th:text="${product.description}"></td>
					<td th:text="${product.price}"></td>
					<td th:text="${product.imageURL}"></td>
					<td><a th:href="${'/product/edit/'+product.id}"/>Edit</td>
					<td><a th:href="${'/product/'+product.id}"/>View</td>
					<td><a th:href="${'/product/delete/'+product.id}"/>Delete</td>
				</tr>
			</table>
			<a th:href="${'/product/new'}">New Product</a>
		</div>
	</div>
</body>
</html>